* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    float: right;
    margin-right: 5%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    float: left;
    width: 500px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-20%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font: size 100px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 500;
    line-height: 30px;
    font-size: larger;
    font-style: italic;
}

.referance {
    position: flex;
    box-align: center;
}

.referance ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.referance ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 600px) {}
